In [3]:
import sqlite3

conn =  sqlite3.connect('saharaProduct.db')

In [2]:
import pandas as pd

In [7]:
cq = conn.execute("SELECT * FROM product")

In [8]:
pd.DataFrame(cq)

   0       1       2     3    4         5         6         7            8
0  1     omo   shoes     1    1     1-1-1     1-1-1     1-1-1        zomba
1  2  topsoy    food     3  100  10-10-10  10-10-10  10-10-10       mpunga
2  3      hp  laptop  1000   11  10-10-10  10-10-10  10-10-10  blockbuster
3  4    dior   shoes    12   12  10-10-10         -         -        zomba